<div class="one-chat">
    <div class="chat-avatar">
        <div class="avatar-icon">
            {{avatar}}
        </div>
    </div>

    <div class="message-box">2
        {{ message }}
    </div>

   <div class="chat-details">

        <div class="timer">3{{timer}}</div>
        <div class="counter">4{{counter}}</div>

   </div>

</div>