<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="../../../../components/styles/style.css">
</head>

<body>

    <div class="container">

        <a href="../../../../../index.html">выход</a>
        <h1>Привет Вы вошли в чат</h1>

        <a href="../../../profile/profile.html">Profile</a>

        <aside>
            <input type="search" placeholder="поиск">
            <div class="users-chat">
                <ul>
                    <li>
                        <div class="avatar-icon">
                            <br>
                            <div class="avatar-img">avatar-img</div>
                            <div class="avatar-message">avatar-message</div>
                            <div class="avatar-message-circle">avatar-message-circle</div>
                            <div class="avatar-message-timer">avatar-message-timer</div>

                        </div>
                    </li>
                    <li>
                        <div class="avatar-icon">
                            <br>
                            <div class="avatar-img">avatar-img</div>
                            <div class="avatar-message">avatar-message</div>
                            <div class="avatar-message-circle">avatar-message-circle</div>
                            <div class="avatar-message-timer">avatar-message-timer</div>
                        </div>
                    </li>

                </ul>
            </div>
        </aside>

        <div class="chat">Выберите чат</div>

    </div>



</body>

</html>