* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    background-color: rgb(238 217 217);
}

.main {
    display: flex;
    justify-content: space-between;
}
.container {
    padding: 1rem;
    min-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.main__form{
    margin-top: 10px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
    background-color: #fff;
}
.main__form-reg {
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.title {
    text-align: center;
    font-size: 30px;
    letter-spacing: .3rem;
}
.login input{
    width: 100%;
    padding: .3rem;
    outline: 0;
    border: none;
    border-bottom: .1px solid #000;
}
.login input:hover{
    cursor: pointer;
}
.password input{
    width: 100%;
    padding: .3rem;
    outline: 0;
    border: none;
    border-bottom: .1px solid #000;
}
.password input:hover{
    cursor: pointer;
}

.signin {
    border-radius: 11rem;
    border: none;
    padding: .6rem;
    transition: all 1s ease;
    background-color: rgb(39, 75, 153);
    color: #fff;
    font-size: 22px;
}
.signin:hover{
    cursor: pointer;
    background-color: rgb(107, 134, 193);
}

.registration {
    background-color: rgb(240 231 231);
    border-radius: 11rem;
    padding: .6rem;
    transition: all 1s ease;
    text-align: center;
}
.registration:hover{
    background-color: rgb(239, 225, 225);
}
.registration a {
    text-decoration: none;
    color: #000;
    transition: all 1s ease;
}
.registration a:hover{
    background-color: rgb(239, 225, 225);
}