{{!-- <main class="main"> --}}
    <aside class="chats__aside">
        <div class="chats__aside-top">
            <div class="chats__profile">
                {{> link text="Профиль" href='/'}}
            </div>
            <div class="input">{{> input placeholder='Поиск...'}}</div>
        </div>
        <div class="chats__aside-main">
            {{> oneChat }}
        </div>
    </aside>
    <div class="chats__expanded">
        <p>Выберите чат</p>
    </div>

{{!-- </main> --}}
