<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./profile.css">
</head>

<body>


    <div class="container">

        <a class="back" href="../../../layout/signin/signin.html">назад</a>

        <div class="avatar">
            <button class="avatar__btn">загрузить фото</button>
        </div>
        <div class="user-name">user-name</div>

        <div class="user-info">
            <div class="user__info-login">Логин : user@yandex.ru</div>
            <div class="user__info-name" >Имя : user-name</div>
            <div class="user__info-soname" >Фамилия : user-soname</div>
            <div class="user__info-mail" >Почта : user-mail</div>
            <div class="user__info-tel" >Телефон : user-tel</div>
        </div>
        
        <button class="profile-save">Сохранить</button>
        

    </div>
    
    
</body>

</html>