<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
    <link rel="stylesheet" href="./register.css">
</head>

<body>


    <div class="container">

        <a href="../../../index.html">назад</a>

        <form action="./src/layout/signin/signin.html" class="main__form">
            <h1 class="title">Регистрация</h1>
    
            <input type="text" placeholder="Введите логин">
            <input type="text" placeholder="Введите имя">
            <input type="text" placeholder="Введите фамилию">
            <input type="text" placeholder="Введите почту">
            <input type="tel" placeholder="Введите телефон">
    
            <input type="text" placeholder="Введите пароль">
            <input type="text" placeholder="Введите пароль еще раз">
    
        </form>

    </div>
    
    
</body>

</html>