{{!-- <p>main</p> --}}

<div class="container">
    <main class="main">{{> login button=btn}}</main>
    <div class="register">{{> register }}</div>
    <div class="chats">{{> chats }}</div>
</div>


{{!-- <h2>www {{fname}}</h2> --}}

{{!-- <div class="row">
    <div class="col">{{> page1 button=btn}}</div>
    <div class="col">{{> page2 }}</div>
</div> --}}
